mixin review-card(data, index)

  article.review-card&attributes(attributes)
    p.review-card__rating.rating(data-value=data.rating)
      each item in [1, 2, 3, 4, 5]
        svg(width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg")
          defs
            clipPath(id=`myClip${index}${item}`)
              rect(width="0" height="100")
          path(id=`star${index}${item}` d="M46.2841 3.61133C47.6686 0.12972 52.3322 0.129618 53.7167 3.61133L63.8602 29.123C64.7185 31.2801 66.6731 32.7837 68.9501 32.9746L95.2802 35.1836C98.7925 35.4784 100.369 40.174 97.5673 42.6846L77.5067 60.6602C75.9025 62.0979 75.1573 64.2867 75.496 66.4199L75.578 66.8457L81.7069 93.7217C82.5752 97.5296 78.661 100.259 75.703 98.3691L53.161 83.9668C51.2225 82.7282 48.7772 82.7282 46.8387 83.9668L24.2968 98.3691C21.3388 100.259 17.4246 97.5296 18.2928 93.7217L24.4218 66.8457C24.938 64.5824 24.205 62.1938 22.494 60.6602L2.4325 42.6846C-0.369031 40.174 1.20724 35.4784 4.7196 35.1836L31.0507 32.9746C33.3276 32.7835 35.2818 31.2802 36.1395 29.123L46.2841 3.61133Z")
          use(clip-path=`url(#myClip${index}${item})` href=`#star${index}${item}` fill="var(--primary-color)")
    .review-card__content
      p.review-card__text!=data.text
      button.review-card__button Читать далее...
    div.review-card__author-info
      img.review-card__image(src=`./assets/img/${data.img}`, width="36px" height="36px" alt="")
      p
        span.review-card__author!=data.author
        span.review-card__job_title!=data.title
